/*=========================================
		About style
===========================================*/

.rex-about{
	background: $rex-body;
	// border-bottom: 1px solid $rex-boder-color;
	// padding-top: 6%;
	.rex-about-img{
		padding-top: 100px;
	}
	.rex-about-text{
		padding-left: 10%;
	    padding-top: 100px;
	    padding-bottom: 113px;
	}
	h3{
		font-weight: 700;
	}
	p{
		color: $rex-text-color;
		line-height: 24px;
	}
}