/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */


/* Medium devices (desktops, 992px and up) */

@media only screen and (min-width: 769px) and (max-width: 1024px) {

	nav{
		padding:15px 0;
		.rex-logo{
			padding:10px 0;
		}
		.content{
		    position: relative;
		    top: 15px;
		    width: 100%;
		}
		.rex-navigation-area {
			ul {
				li{
				    padding: 0 7px;
				    a{
					    font-size: 10px;
				    }
				}
			}
		}
		.rex-search{
			margin-left: 13px;
			padding-left: 7px;
		}
	}

	ul.slimmenu li>ul{
	    left: -74px;
	}


	.rex-navigation-area{
		.menu-collapser{
			background: inherit !important;
			.collapse-button{
				background: $rex-hover-color;
				border-radius: 0;
				.icon-bar{
					box-shadow: none;
					background-color: #000;
				}
			}
		}
	}


	.rex-about {
		p{
			br{
				display: none;
			}
		}
		.rex-about-img{
			img{
				width: 100%;
			}
		}
		.rex-about-text {
		  margin-bottom: 40px;
		  margin-top: 40px;
		}
	}

	.rex-feature {
		article{
			.rex-feature-box{
				h4{
					font-size: 15px;
				}
			}
		}
	}
	.rex-service{
		.select-col-img{
		    position: initial;
		}
		.service-img{
			position: initial;
		    transform: translateY(0);
		}
	}


	.rex-blog{
		p{
			br{
				display: none;
			}
		}
		.rex-sub-title {
			h3 {
				a{
					font-size: 11px !important;
				}
			}
		}
		.rex-blog-content {
		    margin-bottom: 25px;
		    padding: 0 15px;
		}
		.caption{
			padding-left: 15px;
		}
		.post-meta {
			padding: 15px 0;
			a{
				font-size: 10px;
				margin-right: 5px;
			}
		}
	}

	.rex-team{
		.rex-team-content{
			min-height: 351px;
		    margin-bottom: 20px;
			.rex-team-text{
				p{
				    padding-right: 20px;
					br{
						display: none;
					}
				}
			}
		}
		.cs-style-7 figcaption .icon-links{
			position: relative;
			bottom: 0;
			right: 0;
			top: 5px;
			float: left;
		}
	}


	.rex-contact {
		.form-section{
			padding: 60px 40px 39px 40px;
			.col-md-6{
				&:first-child{
					padding-right: 0;
				}
				&:last-child {
				    padding-left: 0;
				    margin-top: 15px;
				}
			}
		}
	}

	.rex-contact {
		.rex-blog-content{

		}
		.form-section {
		    padding: 46px 40px 39px 40px;
			.col-md-6{
				&:last-child i {
				    left: 14px;
				}
			}
		}
		.form-section {
			.col-md-6{
				&:first-child{
					padding-right: 15px;
				}
				&:last-child{
					padding-left: 10px;
					margin-top: 0;
				}
			}
		}
	}

	.rex-clients{
		&:hover{
			.owl-theme .owl-controls .owl-buttons div.owl-prev,
			.owl-theme .owl-controls .owl-buttons div.owl-next{
				margin: 0;
				opacity: 1;
			}
		}
		.owl-buttons{
			top: -20px;
			left: 0;
			width: auto;
			// bottom: 0;
			transform: translateY(-100%);
		}

		.owl-theme .owl-controls .owl-buttons div.owl-prev,
		.owl-theme .owl-controls .owl-buttons div.owl-next{
			margin: 0;
			opacity: 1;
			float: none;
			margin: 0 10px;
		}
	}
	.rx-map{
		#googleMap{
		  min-height: 330px;
		}
	}


	.footer-top {
		.footer-logo-area{
			margin-bottom: 40px;
		}
		.content {
		    margin-top: 0px;
		    &:nth-child(3n){
		    	margin-left: 50px;
		    }
		}
	}


	.rex-blog-seftion{
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				ul{
					li{
						margin-left:0;
						margin-top: -10px;
						ul{
							li{
								margin-left: 0;
								margin-bottom: 30px;
							}
						}
					}
				}
			}
		}
	}
.table>tbody>tr>td, 
.table>tbody>tr>th, 
.table>tfoot>tr>td, 
.table>tfoot>tr>th, 
.table>thead>tr>td, 
.table>thead>tr>th{
	padding: 5px;
}

}

/* Phone devices (Portrait and Landscape, 992px and up) */
@media only screen and (min-width: 640px) and (max-width: 768px){
	.select-row{
		position: relative;
	}
	.col-nav{
		position: absolute;
		top: -13px;
		right: 0;
		width: 100%;
	}
	.menu-collapser{
		padding: 0;
		background: none;
	}
	.rex-logo{
		z-index: 999;
		position: relative;
		width: 50%;
		// a{
		// 	img{
		// 		width: 100%;
		// 	}
		// }
	}
	nav{
	    padding: 25px 0;
		.content, .rex-navigation-area{
			width: 92%;
		}
		.rex-navigation-area {
			ul {
				li{
					&:first-child{
						padding: 0 24px;
					}
				}
			}
		}
		.rex-navigation-area {
			ul {
				li{
					padding: 0;
					&:first-child{
						padding: 0;
					}
					a{
						padding: 15px;
					}
				}
			}
		}
	    .rex-search{
		    top: -37px;
		    float: right;
		    position: absolute;
		    top: 13px;
	    }
	}
    ul.slimmenu{
    	position: relative;
    	z-index: 999;
	    margin-top: 17px
    }

	ul.slimmenu li .sub-collapser{
		display: block;
		background: none;
	}

	ul.slimmenu li > ul{
		width: 100%;
		padding: 0 15px;
	}

	nav .rex-navigation-area ul li:last-child .sub-collapser{
		opacity: 1;
	}


	.rex-service{
		.select-col-img{
		    position: initial;
		}
		.service-img{
			position: initial;
		    transform: translateY(0);
		}
		.select-col{
			float: none;
		}
	}

	#call-to-action {
		.block {
			p{
				padding: 25px 0;
			}
		}
	}

    .rex-team {
    	.row{
    		margin: 0;
    	}
    	.padding-right{
    		padding-right: 15px;
    	}
    	.rex-team-img{
    		margin-bottom: 25px;
    	}
		.rex-team-content{
		      padding-left: 24px;
		}

		.rex-team figure{
			float: none;
			margin: 0 auto;
		}

		.cs-style-7 figure img{
			margin: 0 auto;
		}

		.grid{
			margin: 0 169px;
		}

    }

    .rex-about{
    	padding-bottom: 6%;
    }

	.rex-clients{
		&:hover{
			.owl-theme .owl-controls .owl-buttons div.owl-prev,
			.owl-theme .owl-controls .owl-buttons div.owl-next{
				margin: 0;
				opacity: 1;
			}
		}
		.owl-buttons{
			top: -20px;
			left: 0;
			width: auto;
			// bottom: 0;
			transform: translateY(-100%);
		}

		.owl-theme .owl-controls .owl-buttons div.owl-prev,
		.owl-theme .owl-controls .owl-buttons div.owl-next{
			margin: 0;
			opacity: 1;
			float: none;
			margin: 0 10px;
		}
	}

	.rex-blog{
		.row{
			margin: 0;
		}
		.rex-blog-content{
			margin-bottom: 25px;
		}
	}

	.plan{
		.col{
			margin-bottom: 20px;
		}
	}

	.rx-map{
		#googleMap{
		  min-height: 395px;
		}
	}

	.footer-top{
		.col-md-3{
			text-align: center;
			margin-bottom: 20px;
		}
		.content {
			.address{
				i{
					float: none;
					display: inline-block;
				}
				p{
					display: inline;
				}
			}
			.case {
				p{
					&:before{
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}

	.rex-contact {
		.form-section {
			.col-md-6{
				&:first-child{
					padding-right: 0;
				}
				&:last-child{
					padding-left: 0;
					margin-top: 10px;
				}
			}
		}
	}
	.rex-blog-tag-box {
		.rex-tag-left {
		    width: 60%;
		    float: left;
		}
	}
}


/* Phone devices (Portrait and Landscape, 992px and up) */
@media only screen and (min-width: 481px) and (max-width: 639px){
	.select-row{
		position: relative;
	}
	.col{
		position: absolute;
		top: -13px;
		right: 0;
		width: 100%;
	}
	.menu-collapser{
		padding: 0;
		background: none;
	}
	.rex-logo{
		z-index: 999;
		position: relative;
		width: 50%;
		// a{
		// 	img{
		// 		width: 100%;
		// 	}
		// }
	}
	nav{
	    padding: 25px 0;
		.content, .rex-navigation-area{
			width: 92%;
		}
		.rex-navigation-area {
			ul {
				li{
					&:first-child{
						padding: 0 24px;
					}
					ul{
						li{
							&:first-child{
							padding: 0;
							}
						}
					}
				}
			}
		}
	    .rex-search{
		    top: -37px;
		    float: right;
		    position: absolute;
		    top: 13px;
	    }
	}
    ul.slimmenu{
    	position: relative;
    	z-index: 999;
	    margin-top: 17px;
    }

    nav .rex-navigation-area ul li a{
    	padding: 20px 0;
    }

	ul.slimmenu li .sub-collapser{
		// display: block;
		background: none;
	}

	ul.slimmenu li > ul{
		width: 100%;
		padding: 0 15px;
	}

	nav .rex-navigation-area ul li:last-child .sub-collapser{
		opacity: 1;
	}

	.rex-service{
		.select-col-img{
		    position: initial;
		}
		.service-img{
			position: initial;
		    transform: translateY(0);
		}
		.select-col{
			float: none;
		}
	}

	#call-to-action {
		.block {
			p{
				padding: 25px 0;
			}
		}
	}

    .rex-team {
    	.row{
    		margin: 0;
    	}
    	.padding-right{
    		padding-right: 15px;
    	}
		.rex-team figure{
			float: none;
			margin: 0 auto;
		}
		.cs-style-7 figure img{
			margin: 0 auto;
		}

		.grid{
			margin: 0 106px;
		}


    }

	.rex-clients{
		&:hover{
			.owl-theme .owl-controls .owl-buttons div.owl-prev,
			.owl-theme .owl-controls .owl-buttons div.owl-next{
				margin: 0;
				opacity: 1;
			}
		}
		.owl-buttons{
			top: -20px;
			left: 0;
			width: auto;
			// bottom: 0;
			transform: translateY(-100%);
		}

		.owl-theme .owl-controls .owl-buttons div.owl-prev,
		.owl-theme .owl-controls .owl-buttons div.owl-next{
			margin: 0;
			opacity: 1;
			float: none;
			margin: 0 10px;
		}
	}

	.rex-blog{
		.row{
			margin: 0;
		}
	}

	.plan{
		.col{
			margin-bottom: 20px;
		}
	}

	.footer-top{
		.col-md-3{
			text-align: center;
			margin-bottom: 20px;
		}
		.content {
			.address{
				i{
					float: none;
					display: inline-block;
				}
				p{
					display: inline;
				}
			}
			.case {
				p{
					&:before{
						left: 50%;
						transform: translateX(-50%);
					}
				}
			}
		}
	}

	.rex-contact {
		.form-section {
			.col-md-6{
				&:first-child{
					padding-right: 0;
				}
				&:last-child{
					padding-left: 0;
					margin-top: 10px;
				}
			}
		}
	}

	.rex-blog-seftion{
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				ul{
					li{
						margin-left: 5px;
						margin-top: -10px;
						ul{
							li{
								margin-left: 5px;
								margin-bottom: 30px;
							}
						}
					}
				}
			}
		}
	}
	.rex-blog-tag-box {
		.rex-tag-left {
		    width: 100%;
		    margin-bottom: 20px;
		}
	}

}



/* Phone devices (Portrait and Landscape, 992px and up) */
@media only screen and (min-width: 320px) and (max-width: 480px) {

	.rex-sub-title{
		text-align: center;
		&:before, &:after{
			left: 50%;
			transform: translateX(-50%)
		}
	}

	header {
		.rex-addres-section{
			float: none;
			text-align: center;
			a{
				display: block;
			}
		}
		.rex-media-link{
			margin-top: 20px;
			float: none;
			text-align: center;
		}
	}

	// .select-row{
	// 	position: relative;
	// }

	.sticky-wrapper{
		position: relative;
	}


	.col-nav{
		position: absolute;
		top: 11px;
		right: 0;
		width: 100%;
	}
	.menu-collapser{
		padding: 0;
		background: none;
		z-index: 999;
	}
	.rex-logo{
		z-index: 999;
		position: relative;
		width: 50%;
		a{
			img{
				width: 100%;
			}
		}
	}
	nav{
	    padding: 25px 0;
		.content, .rex-navigation-area{
			width: 80%;
			z-index: 9999;
		}
		.rex-navigation-area {
			ul {
				li{
					padding: 0;
					&:first-child{
						padding: 0;
					}
					a{
						padding: 15px;
					}
				}
			}
		}
	    .rex-search{
		    top: -37px;
		    float: right;
		    position: absolute;
		    top: 13px;
	    }
	}
    ul.slimmenu{
    	position: relative;
    	z-index: 99999;
	    margin-top: 10px
    }

	ul.slimmenu li .sub-collapser{
		// display: block;
		background: none;
	}

	ul.slimmenu li > ul{
		width: 100%;
		padding: 0 0;
	}

	ul.slimmenu.collapsed li a{
		border: 0;
	}

	nav .rex-navigation-area ul li:last-child .sub-collapser{
		opacity: 1;
	}

	// ul.slimmenu li > ul 


	// .rex-navigation-area{
	// 	.menu-collapser{
	// 		background: inherit !important;
	// 		.collapse-button{
	// 			background: $rex-hover-color;
	// 			border-radius: 0;
	// 			.icon-bar{
	// 				box-shadow: none;
	// 				background-color: #000;
	// 			}
	// 		}
	// 	}
	// }

	.rex-slider{
		.video-bg{
			height: 500px;
		}
	}

	.rex-slider {
		min-height: 200px;
		img{
			min-height: 200px;
		}
		.rex-caption {
			h1{
				font-size: 16px;
			}
			h3{
				font-size: 18px;
			    margin-bottom: 4px;
			}
			.rex-bottom{
				margin-top: 15px;
			    padding: 10px 27px 8px 10px;
			    &:after{
					top: 12px;
					right: 6px;
			    }
			}
		}
	}
	.rex-slider {
		.rex-caption {
			.rex-bottom{
				&:before{
					display: none;
				}
				&:after {
				  right: 6px;
				  top: 0px;
				}
			}
		}
	}

	.rex-service{
		.select-col-img{
		    position: initial;
		}
		.service-img{
			position: initial;
		    transform: translateY(0);
		}
		.select-col{
			float: none;
		}
	}

	#call-to-action {
		.block {
			p{
				padding: 25px 0;
			}
		}
	}

    .rex-team {
    	.row{
    		margin: 0;
    	}
    	.padding-right{
    		padding-right: 15px;
    	}

		.rex-team figure{
			float: none;
			margin: 0 auto;
		    max-width: none;
		    min-width: auto;
		    width: 100%;
		}

		.cs-style-7 figure img{
			margin: 0 auto;
		}

		.grid{
			margin: 0 0;
		}

		.cs-style-7 figcaption .icon-links{
			position: initial;
			bottom: 0;
			right: 0;
			float: left;
			margin-top: 5px;
		}

    }

	.rex-clients{
		&:hover{
			.owl-theme .owl-controls .owl-buttons div.owl-prev,
			.owl-theme .owl-controls .owl-buttons div.owl-next{
				margin: 0;
				opacity: 1;
			}
		}
		.owl-buttons{
			top: -20px;
			left: 0;
			width: auto;
			// bottom: 0;
			transform: translateY(-100%);
		}

		.owl-theme .owl-controls .owl-buttons div.owl-prev,
		.owl-theme .owl-controls .owl-buttons div.owl-next{
			margin: 0;
			opacity: 1;
			float: none;
			margin: 0 10px;
		}
	}

	.rex-about {
		.rex-about-img{
			img{
				width: 100%;
			}
		}
		.rex-about-text {
			margin-bottom: 40px;
			margin-top: 40px;
			text-align: center;
		}
	}
	.rex-feature {
		article{
			.rex-feature-box{
				h4{
					font-size: 15px;
				}
			}
		}
	}

	.rex-service {
		.rex-service-content {
		    padding: 100px 15px;
			h5{
				text-align: center;
			}
			.article{
			    text-align: center;
				i{
					float: none;
					margin-right: 0;
				}
			}
		}
	}

	.rex-team {
		.rex-top-lawyer{
			img{
				width: 100%;
			}
		}
		.padding-right{
			padding-right: 15px;
		}
		.rex-team-content {
		  margin-bottom: 18px;
		  margin-top: 20px;
		  min-height: 480px;
		  padding: 0 15px;
		  p{
	  	    padding: 15px 15px 15px 0;
		  }
		  img{
		  	width: 80px;
		  	margin-right: 0;
		  }
		}
		.lawyer-social-media{
			img{
				width: 143px;
			}
		}
		.rex-team-img {
			margin-bottom: 20px;
		}
	}


	.rex-achievment {
	  overflow: hidden;
	  .rex-achievment-list{
	  	ul{
	  		li{
	  			width: 100%;
	  		}
	  	}
	  }
	}

	.rex-blog{
		.row{
			margin: 0;
		}
		.rex-blog-content {
		    margin-bottom: 25px;
		    // padding: 0 15px;
		}
		.caption{
			padding-left: 15px;
			text-align: center;
			br{
				display: none;
			}
		}
	}

	.plan {
		.content{
			.col{
				margin-bottom: 20px;
			}
		}
		.text-content{
			.top-icon{
				padding-bottom: 15px;
			}
			br{
				display: none;
			}
		}
	}

	.rex-contact{
		.rex-address{
			margin-bottom: 25px;
		}
	}

	.rex-contact {
		.form-section{
			padding: 60px 40px 39px 40px;
			.col-md-6{
				&:first-child{
					padding-right: 0;
				}
				&:last-child {
				    padding-left: 0;
				    margin-top: 15px;
				    i {
				    	left: 14px;
					}
				}
			}
		}
	}

	.footer-top {
		.footer-logo-area{
			margin-bottom: 40px;
		}
		.content {
		    margin-bottom: 40px;
		}
	}


	.rex-blog-boader {
	    padding: 4%;
	}
	.rex-blog-comment{
		.rex-comment-author-img {
		    float: left;
		    text-align: center;
		    width: 27%;
		    min-height: 0;
		}
	}

	.rex-blog-seftion{
		ul{
			margin: 0;
			padding: 0;
			li{
				list-style: none;
				ul{
					li{
						margin-left: 5px;
						margin-top: -10px;
						ul{
							li{
								margin-left: 5px;
								margin-bottom: 30px;
							}
						}
					}
				}
			}
		}
	}
	.rex-blog-tag-box {
		.rex-tag-left {
		    width: 100%;
		    margin-bottom: 20px;
		}
	}

	.backtop{
	    margin-bottom: 10px;
	    margin-right: 10px;
        z-index: 999;
	}



}
