/*===========================================================
					Service css
=============================================================*/


.rex-service{
	background: #fff;
	border-top: 1px solid $rex-section-color;
	border-bottom: 1px solid $rex-section-color;
	.row{
	    position: relative;
	    height: 100%;
	}
	.col-md-12, .col-md-6{
		padding: 0;
	}

	.select-col-img{
	    position: absolute;
	    // background: red;
	    height: 100%;
        overflow: hidden;
	}

	.service-img{
	    position: absolute;
	    top: 50%;
	    transform: translateY(-50%);
	}

	.select-col{
		float: right;
	}


	.rex-sub-title{
		h3{
			font-weight: 700;
		}	
	}
		
	img{
		width: 100%;
	}
	/* service right site style */
	.rex-service-content{
		padding-left: 114px;
		padding-top: 100px;
		padding-bottom: 100px;


		h5{
			color: $rex-span-color;
			padding-bottom: 37px;
		}
		.article{
			i{
				float: left;
				margin-right: 39px;
				font-size: 30px;
				color: $rex-text-color;
				position: relative;
				top: -5px;
			}
			.article-content{
				overflow: hidden;
				padding-bottom: 53px;
				margin-top: 5px;
				h4{
					padding-bottom: 10px;
				}
				p{
					color: $rex-text-color;
				}
			}
			&:last-child{
				.article-content{
					padding-bottom: 0;
				}
			}
		}
	}
}