/*=========================================
Theme Color
==========================================*/
/* Background Color */
.rex-heading:after,
.rex-bottom:after,
.rex-sub-title:after,
nav .rex-navigation-area ul li a:before,
#search .close,
.rex-team .rex-team-single-img,
.grid figcaption,
.rx-pagination ul li:hover,
.rx-pagination ul li.active,
.rex-achievment .rex-achievment-list ul li:hover,
.widget_categories .rex-archive ul li:before,
.widget_archive .rex-archive ul li:before,
.widget_meta .rex-tag ul li:hover,
.rex-navigation-area .menu-collapser .collapse-button {
  background: #ec4933; }

/* Color */
span,
.rex-blog .thumbnail:hover .rex-sub-title h3 a,
header .rex-addres-section a:hover,
header .rex-media-link a,
.rex-read-more i, .rex-blog i, .rex-blog-box .rex-blog-box-text i, .community i,
.rex-read-more .btn-default:hover, .rex-blog .btn-default:hover, .rex-blog-box .rex-blog-box-text .btn-default:hover, .community .btn-default:hover,
nav .rex-navigation-area ul li a:hover,
.rex-feature article .rex-feature-box:hover h4,
.rex-service .rex-service-content h5,
.rex-team .media a,
.rex-team .rex-team-content h5,
.rx-iner-page-titel p a:hover,
.rex-blog-box .rex-blog-box-text .rex-sub-title h4 a:hover,
.community .author-name,
.community .author-url,
.rex-contact .form-section h6,
.rex-contact .form-section .btn-default:hover,
.rex-contact .form-section .btn-default:after,
.rex-contact .form-section .focus,
.blog-text-contain .post-meta i,
.rex-blog-tag-box .rex-tag-left ul li a:hover,
.rex-comment-from .form-group .btn-default:hover,
.rex-comment-from .form-group .btn-default:after,
.widget_recent_entries .content .case p a:hover,
.widget_recent_entries .rx-blockquote-box h6 a:hover,
.widget_recent_entries .rx-blockquote-box p a,
.widget_categories .rex-archive ul li a:hover,
.footer-top .footer-logo-area a i,
.footer-top .footer-logo-area a:hover i,
.footer-top .content article a:hover,
.footer-top .content article a:hover i,
.footer-top .content .case p a:hover,
.footer-top .content .twitter-content a,
.backtop a .fa,
nav .rex-search i:hover {
  color: #ec4933; }

/* Border Color */
.rex-bottom,
.backtop,
#search .close,
.rex-bottom:hover,
.rx-pagination ul li,
.rex-contact .form-section .btn-default:hover,
.rex-contact .form-section .btn-default:after,
.owl-theme .owl-controls .owl-page.active span,
.rex-comment-from .form-group .btn-default:after,
.rex-comment-from .form-group .btn-default:hover,
.rex-feature article .rex-feature-box:hover .rex-feature-icon,
.rex-contact .form-section input:focus, .rex-contact .form-section textarea:focus,
.rex-comment-from .form-group input:focus, .rex-comment-from .form-group textarea:focus,
.form-control:focus {
  border-color: #ec4933; }

.cs-style-7 figure:hover figcaption,
.cs-style-7 figure:hover figcaption {
  box-shadow: 0 0 0 10px #ec4933; }
